# top-most EditorConfig file in dir
root = true

# 4 space indentation for python
[*.py]
indent_style = space
indent_size = 4

# 2 space indentation for js
[*.js]
indent_style = space
indent_size = 2

